<?py include("header.html") ?>
<div>
<?py 
lists = _context.get("lists", [])
errors_msg = _context.get("errors_msg")
?>
<?py include("errors.html") ?>
<div class="cnt">
    <h1>#{ page_title }</h1>
    <div class="entry">
<?py
if _context.get("first"):

?>
请选择您所喜欢的编辑器:
<a class="art sm pointer" href="?editor=html">
    HTML
</a>
<a class="art sm pointer" href="?editor=rest">
    ReStruct Text
</a>
<a class="art sm pointer" href="?editor=markdown">
    Mark Down 
</a>
<a class="art sm pointer" href="?editor=ubb">
    UBB
</a>

<?py else: 

?>
<script type="text/javascript" src="#{ config.BASEURL }/js/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="#{ config.BASEURL }/js/markitup/sets/#{ config.POST_EDITOR }.js"></script>
<link rel="stylesheet" type="text/css" href="#{ config.BASEURL }/js/markitup/skins/simple/style.css" />
<link rel="stylesheet" type="text/css" href="#{ config.BASEURL }/js/markitup/sets/#{ config.POST_EDITOR }.css" />
<script type="text/javascript">
<!--
$(document).ready(function(){
    $('#editor').markItUp(mySettings);

$('.add').click(function() {
 $.markItUp( { openWith:'<opening tag>',
 closeWith:'<\/closing tag>',
 placeHolder:"New content"
 }
 );
  return false;
  });
  
  $('.toggle').click(function() {
  if ($("#markItUp.markItUpEditor").length === 1) {
   $("#markItUp").markItUpRemove();
   $("span", this).text("get markItUp! back");
   } else {
   $('#markItUp').markItUp(mySettings);
   $("span", this).text("remove markItUp!");
   }
return false;
});

$.each($("#fields").find("input, textarea"), function(n, i){
    i = $(i);
    i.attr("title", i.attr("rel"));
    i.blur(function(e){
        if($.trim(i.val()) == "") {
            i.val(i.attr("rel"));
        }
    }).focus(function(e){
        if($.trim(i.val()) == i.attr("rel")) {
            i.val("");
        }
    });
    i.val(i.val() || i.attr("rel"));
}); 

$("#show_other").click(function(){
    $("#other").toggle();
});

});
-->
</script>
<form action="." method="POST">
<div class="respond">
    <div id="fields">
    <hr>
    <input type="text" rel="标题" name="post.title">
    <select class="input" name="post.category" id="post.category">
        <option value="cc">分类选择</option>
        <option value="gg">分类一</option>
    </select>
<a id="show_other" class="art sm pointer" href="#">
    其他
</a>
<div id="other" class="hidden">
    <input type="text" rel="URL" name="post.url">
    <input type="text" rel="关键字" name="post.keyword">
    <input type="text" rel="Tag标签" name="post.tags">
    <hr>
</div>
    <textarea id="editor" name="post.content"></textarea>
    </div>
<div class="submit">
    <div class="outbl sbm">
    <input type="submit" id="submit">
    </div>
</div>
</div>
</form>
<?py #endif ?>
    </div>
</div>
</div>
<?py include("footer.html") ?>
