<?py include("header.html") ?>
<?py 
lists = _context.get("lists", [])
errors_msg = _context.get("errors_msg")

#modify
posttitle = _context.get("post.title")
postcategory = _context.get("post.category")
posturl = _context.get("post.url")
posttags = _context.get("post.tags")
postkeyword = _context.get("post.keyword")
postcontent = _context.get("post.content")

?>
<?py include("errors.html") ?>
<div class="cnt">
    <h1>#{ page_title }</h1>
    <div class="entry">
<?py
if _context.get("first"):

?>
请选择您所喜欢的编辑器:
<a class="art sm pointer" href="?editor=html">
    HTML
</a>
<a class="art sm pointer" href="?editor=rest">
    ReStruct Text
</a>
<a class="art sm pointer" href="?editor=markdown">
    Mark Down 
</a>
<a class="art sm pointer" href="?editor=ubb">
    UBB
</a>

<?py else: 

?>
<script type="text/javascript" src="#{ config.BASEURL }/js/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="#{ config.BASEURL }/js/markitup/sets/#{ config.POST_EDITOR }.js"></script>
<link rel="stylesheet" type="text/css" href="#{ config.BASEURL }/js/markitup/skins/simple/style.css" />
<link rel="stylesheet" type="text/css" href="#{ config.BASEURL }/js/markitup/sets/#{ config.POST_EDITOR }.css" />
<script type="text/javascript">
<!--
$(document).ready(function(){
    $('#editor').markItUp(mySettings);

$('.add').click(function() {
 $.markItUp( { openWith:'<opening tag>',
 closeWith:'<\/closing tag>',
 placeHolder:"New content"
 }
 );
  return false;
  });
  
  $('.toggle').click(function() {
  if ($("#markItUp.markItUpEditor").length === 1) {
   $("#markItUp").markItUpRemove();
   $("span", this).text("get markItUp! back");
   } else {
   $('#markItUp').markItUp(mySettings);
   $("span", this).text("remove markItUp!");
   }
return false;
});

$.each($("#fields").find("input, textarea"), function(n, i){
    i = $(i);
    if(!i.attr("rel"))
        return;
    i.attr("title", i.attr("rel"));
    i.blur(function(e){
        if($.trim(i.val()) == "") {
            i.val(i.attr("rel"));
        }
    }).focus(function(e){
        if($.trim(i.val()) == i.attr("rel")) {
            i.val("");
        }
    });
    i.val(i.val() || i.attr("rel"));
}); 

$("#show_other").click(function(){
    $("#other").toggle();
});
select_cate = $("#post\\.category");
select_cate.change(function(e){
        if($("#post\\.category option:selected").val() == "#new#") {
            $("#newcategory").toggle();
        } else {
            $("#newcategory").hide();
        }
        $("#post\\.category option[value='#choice#']").remove();
});

$("#create_category").click(function(){
        var cate_title = $("#newcategory input[name='category.title']").val(),
            cate_url = $("#newcategory input[name='category.url']").val(),
            cate_descrip = $("#newcategory input[name='category.discription']").val() ;
        
        $.post("#{ config.BLOG_ADMIN_PATH }category/",
               {"action": "new",
                "category.title": cate_title,
                "category.url": cate_url,
                "category.description": cate_descrip, },
               function(r){
                    if(r == "ok") {
                        select_cate.append(["<option value='", cate_url, "'>", cate_title, "</option>"].join(""));
                        $("#newcategory").hide();
                    } else {
                        alert(r);
                    }
               }, "json");

});


});
-->
</script>
<form action="." method="POST">
<div class="respond">
    <div id="fields">
    <hr>
    <input type="text" rel="标题" name="post.title" value="#{ posttitle }">
    <select class="input" name="post.category" id="post.category">
        <option value="#choice#">分类选择</option>
<?py for i in all_category : ?>
<?py     if postcategory and postcategory == i.key().name() : ?>
<option selected="selected" value="#{ i.key().name() }">#{ i.title }</option>
<?py     else : ?>
<option value="#{ i.key().name() }">#{ i.title }</option>
<?py     #endif ?>
<?py #end ?>
        <option value="#new#">创建分类</option>
    </select>
<div id="newcategory" class="hidden">
    <input type="text" rel="分类名称" name="category.title">
    <input type="text" rel="分类URL" name="category.url">
    <textarea rel="分类描述" name="category.description"></textarea>
<a id="create_category" class="art sm pointer" href="#">
 &nbsp;创建分类 
</a>
</div>
<a id="show_other" class="art sm pointer" href="#">
    其他
</a>
<div id="other" class="hidden">
    <input type="text" rel="URL" name="post.url" value="#{ posturl }">
    <input type="text" rel="关键字" name="post.keyword" value="#{ postkeyword }">
    <input type="text" rel="Tag标签" name="post.tags" value="#{ posttags }">
    <hr>
</div>
    <textarea id="editor" name="post.content">#{ postcontent }</textarea>
    <input type="hidden" name="post.format" value="#{ config.POST_EDITOR }">
    </div>
<div class="submit">
    <div class="outbl sbm">
    <input type="submit" id="submit">
    </div>
</div>
</form>
<?py #endif ?>
    </div>
</div>
<?py include("footer.html") ?>
