<?py 
include("header.html")
post = _context.get("post")
?>
<div class="pagetitle">${ post.title if post else "" }</div>
<div id="cnt">
<?py if post: ?>
    <div class="art">
        <p class="postmetadata">${ FormatTime(post.created, config.DATEMINUTE_FORMAT) } category:#{ post.category.title or '无'} tags:${ ",".join(post.tags) }
        </p>
        <div class="entry">
    <?py     #for _ in cache_as('post:%s' % post.key().id(), config.POST_CACHE_TIME): ?>
    #{{ format_content(post.content, post.format) }}
    <?py     ##endfor ?>
        </div>
    </div>
    <div id="commentlist">
        <ol class="commentlist"></ol>
    </div>
    <div class="comments">
        <div id="cmnts">
            没有评论
        </div>
    </div>
    <div id="respond">
        <div id="uit">
<?py
?>
            <form action="#{{ config.BLOG_PATH }}comment/" method="post" id="commentform">
                <p>您当前登录的用户为: 脑残级别玩家</p>
                <p><textarea name="comment" id="comment" cols="100%" rows="10" tabindex="1"></textarea></p>
                <p><label for="bbcode" onclick="">启用BBCode</label> <input name="bbcode" type="checkbox" id="bbcode" tabindex="2"/></p>
                <div class="submit"><div class="outbl sbm"><input name="submit" type="submit" id="submit" tabindex="3" value="来一发"/></div></div>
            </form>
            <p>您需要<a href="/login">登录</a>您的Google账号才能进行评论。</p>
        </div>
    </div>
<?py else: ?>
40404044040404040404040400404040404004
<?py #endif ?>
</div>
</div>
<?py include("footer.html") ?>
