<?py #@ARGS post, comments ?>
<?py
post_id = post.key().id() if post else -1
curr_ukey = _context.get("curr_ukey")
viewer = User.by_email(curr_ukey) if curr_ukey else None
dateminiute_format = config.DATEMINUTE_FORMAT
?>
<?py if comments.count :?>
    <div class="comments">
    </div>

    <ol class="commentlist">
        <?py for i in comments.data : ?>
        <li class="comment even">
            <div class="comment-author-info"><a class="comment-author" id="comment-#{ i.key().id() }"
                <?py if i.website: ?>
                     href="${ i.website }"
                <?py #endif ?>
                    >${ i.nickname }</a> @ ${ FormatTime(i.date_created, dateminiute_format) }
                 <a href="#respond">[回复]</a>
                <div class="hr"></div>
            </div>
            <div>#{ i.content }</div>
        </li>
        <?py #endfor ?>
    </ol>

    <div class="comments">
    <?py if comments.prev :?>
    <div id="cmnts"><a href="#{{ config.BLOG_PATH }}#{ post.realurl }?p=#{ comments.prev }">上一页</a></div>
    <?py #endif ?>
    <?py if comments.index < comments.last :?>
    <div id="cmnts-l"><a href="#{{ config.BLOG_PATH }}#{ post.realurl }?p=#{ comments.next }">下一页</a></div>
    <?py #endif ?>
    </div>
<?py else: ?>
    <div class="comments">
        <div id="cmnts">
            没有评论
        </div>
    </div>
<?py #endif ?>
    <?py if post.enablecomment and config.ENABLE_COMMENT :?>
    <div id="respond">
        <div id="uit">
        <?py if config.COMMENT_NEEDLOGINED : ?>
                    <p>您需要<a href="/login/">登录</a>您的账号才能进行评论。</p>
        <?py else: ?>
        <?py
        author = ""
        email = ""
        url = ""
        comment = ""
        ?>
        <form action="#{{ config.BLOG_PATH }}comment/#{ post_id }/" method="post" id="commentform">
            <?py if viewer: ?> 
            <p>随时待命,请${ viewer.nickname }回复: </p>
            <?py else: ?>
            <p><input name="author" id="author" rel="昵称(必填)" type="text" value="#{ author }"></p>
            <p><input name="email" id="email" rel="电子邮件(必填)" type="text" value="#{ email }"></p>
            <p><input name="url" id="url" rel="个人主页地址(选填)" type="text" value="#{ url }"></p>
            <?py #endif ?>
            <p><textarea name="comment" id="comment" cols="100%" rows="10" ></textarea></p>
            <div class="submit"><div class="outbl sbm"><input name="submit" type="submit" id="submit" value="回复"/></div></div>
        </form>
        <script type="text/javascript">
        $(function(){
        $.each($("form").find("input, textarea"), function(n, i){
            i = $(i);
            if(!i.attr("rel"))
                return;
            i.attr("title", i.attr("rel"));
            i.blur(function(e){
                if($.trim(i.val()) == "") {
                    i.val(i.attr("rel"));
                }
            }).focus(function(e){
                if($.trim(i.val()) == i.attr("rel")) {
                    i.val("");
                }
            });
            i.val(i.val() || i.attr("rel"));
        }); 
        $("form").submit(function(e){
            e = $(e.target);
            $.each(e.find("[rel]"), function(n, i){
                i = $(i);
                if($.trim(i.val()) == i.attr("rel")) {
                    i.val("");
                }
            });
        });
        });
        </script>
        <?py #endif ?>
        </div><!--uid-->
    </div><!--respond-->
    <?py #endif ?>
