<?py include("header.html") ?>
        <div id="cnt">
 
<?py if len(pager.data): ?>
    <?py for i in pager.data: ?>
    <h2><a class="art" href="#{{ config.BLOG_PATH }}#{ i.realurl }">${ i.title }<br/>
    <span class="info">#{ i.comments.count() }条评论 #{ i.views }次查看 ${ FormatTime(i.date_created) }</span></a></h2>
    <?py #endfor ?>
    <?py include("pager.html", p=pager, argstyle="?p=") ?>
<?py else: ?>
<p>
主人偷懒,好像还没有写东西哟~
</p>
<?py #endif ?>
        </div>
<?py include("footer.html") ?>
