<?py 
include("header.html")
post = _context.get("post")
?>
<div id="cnt">
<?py if post: ?>
<?py
post_id = post.key().id()
?>
    <div class="art">
        <h1>${ post.title if post else "" }</h1>
        <p class="postmetadata">${ FormatTime(post.created, config.DATEMINUTE_FORMAT) } &nbsp;&nbsp; category:#{ post.category.title or '无'} &nbsp;&nbsp; tags:${ ",".join(post.tags) }
        </p>
        <div class="entry">
    <?py for _ in cache_as('post:content:%s' % post_id, config.POST_CACHE_TIME): ?>
    #{{ format_content(post.content, post.format) }}
    <?py #endfor ?>
        </div>
    </div>

    <?py include("comments.html", post=post, comments=post_comments) ?>

<?py else: ?>
            <h2 class="center"> 查无此页 </h2>
            <p class="center"> 经过专家考证.没有此页 </p>
<?py #endif ?>
</div>
<?py include("footer.html") ?>
